<div class="container">
    <div ng-show="loading"><h3>Loading...</h3></div>
    <div class="row well">
        <a href="CreateEmployee" class="btn btn-info pull-left">
            <i class="glyphicon glyphicon-plus">
            </i> Add New Employee
        </a>
    </div>

    <table st-table="display_records" st-safe-src="employees" class="table table-striped">
        <thead>
            <tr>
                <th width="100px">
                    Name
                </th>
                <th st-sort="salary">
                    Position
                </th>
                <th>
                    Age
                </th>
                <th>
                    Start time
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="employee in display_records">
                <td>{{employee.name}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.startTime}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="UpdateEmployee" class="btn btn-default" ng-click="editRecord(employee.id)">
                            <i class="glyphicon glyphicon-pencil">
                            </i>
                        </a>
                        <button type="button" class="btn btn-danger" ng-click="deletRecord(employee)">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <form class="form-horizontal" role="form" ng-submit="applyFilter()">
        <div>
            <div style="display:flex;">Name:<input class="input-sm form-control" type="search" style="width:100px" ng-model="filterModel.name"/></div><br />
            <div style="display:flex;">Position:<input class="input-sm form-control" type="search" style="width:100px" ng-model="filterModel.position"/></div><br />
            <input type="submit" value="Apply filter" class="btn btn-success" />
        </div>        
    </form>
</div>